<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS Imports -->
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css" >

    <link rel="stylesheet" href="/static/css/base.css">

    {% block css_links %}{% endblock %}

    <!-- JS Imports -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    {% block js_links %}{% endblock %}

    <meta charset="UTF-8">
    <title>{% block title %}Blog Test{% endblock %}</title>
    <link rel="icon" href="/static/img/favicon.ico">
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="{% url 'blog:blog_list' %}">Blog Example</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_superuser %}
                <li><a href="/admin/">Admin</a></li>
                {% endif %}
                <li {% if selected == 'settings' %}class="active"{% endif %}><a href="#" onclick="">{% if request.user.get_full_name == "" %}{{ request.user.username }}{% else %}{{ request.user.get_full_name }}{% endif %}</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Signup</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
        <div class="container">
            <div class="col-md-12">
            <h1 class="page-header">{% block header %}Header{% endblock %}</h1>

            {% block content_data %}

            {% endblock %}
            </div>
        </div>
    {% endblock %}

{% endblock %}

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete</p>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>
{% block end_block %}

{% endblock %}

<script>
    {% block end_script %}

    {% endblock %}

    function goto(url){
        location.href=url;
    }

    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
</script>
</body>
</html>
